<?php
  if (isset($_POST['action'])) {
    switch ($_POST['action']) {
      case 'launch_backups':
        shell_exec('/home/vagrant/mysql_backups.sh');
        return;
      case 'restore_backup':
        shell_exec('/home/vagrant/mysql_restore.sh ' . $_POST['file'] . ' ' . $_POST['db']);
        return;
    }
  }
?>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" /> 
  <title>VA#LAMP - Panel de control</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="tools/favicon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="tools/{{ dashboard_fontawesome_version }}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="tools/styles.css">
</head>

<body>
  <!-- Page -->
  <div class="page">

    <!-- Header -->
    <header class="header">
      <h1><a href="index.php"><img src="tools/logo.png" alt="VA#LAMP" title="VA#LAMP" /></a></h1>
      <h2>Panel de control #<?php print $_SERVER['SERVER_NAME']; ?>#</h2>
    </header>
    <!-- End Header -->

    <!-- Main -->
    <div class="main">
      <!-- ColLeft -->
      <div class="col-left">

        <!-- Projects -->
        <div class="projects">
          <h3><i class="fa fa-server"></i>Proyectos</h3>
          <?php show_projects(); ?>
        </div>
        <!-- End Projects -->

        <!-- Backups -->
        <?php show_backups(); ?>
        <!-- End Backups -->

      </div>
      <!-- End ColLeft -->

      <!-- ColRight -->
      <div class="col-right">

        <!-- Tools -->
        <div class="tools">
          <h3><i class="fa fa-wrench"></i>Herramientas</h3>
          <ul class="block-list">
            <li><a href="./tools/phpinfo.php" target="_blank"><i class="fa fa-code"></i>PHPINFO</a></li>
            <li><a href="./tools/adminer.php?username=root" target="_blank"><i class="fa fa-database"></i>Adminer</a></li>
            <li><a href="http://<?php print $_SERVER['SERVER_NAME']; ?>:8025/" target="_blank"><i class="fa fa-envelope"></i>MailHog</a></li>
            <li><a href="./stats/logs/" target="_blank"><i class="fa fa-exclamation-circle"></i>Logs</a></li>
          </ul>
        </div>
        <!-- End Tools -->

        <!-- Backups -->
        <div class="backups">
          <h3><i class="fa fa-database"></i>Backups BBDD</h3>
          <ul class="block-list">
            <li><a class="launch_backups" href="#"><i class="fa fa-files-o"></i>Crear backups</a></li>
          </ul>
        </div>
        <!-- End Backups -->

        <!-- Stats -->
        <div class="stats">
          <h3><i class="fa fa-area-chart"></i>Estadísticas</h3>
          <ul class="block-list">
            {% if ((ansible_distribution == 'CentOS' and ansible_distribution_major_version|int > 6) or ansible_distribution != 'CentOS') %}
            <li><a href="./stats/munin/" target="_blank"><i class="fa fa-area-chart"></i>Munin</a></li>
            {% endif %}
            <li><a href="./stats/memcache/" target="_blank"><i class="fa fa-pie-chart"></i>Memcache stats</a></li>
            {% if _php_version|float >= 5.6 %} 
            <li><a href="./stats/opcache/opcache.php" target="_blank"><i class="fa fa-pie-chart"></i>OPCache stats</a></li>
            {% endif %}
            {% if _php_version|float < 5.6 %} 
            <li><a href="./stats/apc/apc.php" target="_blank"><i class="fa fa-pie-chart"></i>APC stats</a></li>
            {% endif %}
          </ul>
        </div>
        <!-- End Stats -->

      </div>
      <!-- End ColRight -->

    </div>
    <!-- End Main  -->

    <!-- Footer -->
    <footer class="footer">&copy; VA#LAMP 2017 - Versión {{ valamp_version }}</footer>
    <!-- End Footer -->

  </div>
  <!-- End Page -->

  <script src="tools/jquery.min.js"></script>
  <script src="tools/scripts.js"></script>
</body>

</html>
<?php

/**
 * Show Projects.
 */
function show_projects() {
  // Directories to ignore.
  $ignore_dirs = array('backups', 'stats');
  include '../tools/spyc.php';
  $yml = Spyc::YAMLLoad('/vagrant/ansible/vars/all.yml');

  // Loop current directory and get directories to show.
  foreach (glob('./*', GLOB_ONLYDIR) as $dir) {
    $dir = basename($dir);
    if (!in_array(basename($dir), $ignore_dirs)) {
      $dirs[$dir] = $dir;
    }
    // Buscamos el host para este directorio.
    if (!empty($yml['apache_vhosts'])) {
      foreach ($yml['apache_vhosts'] as $host) {
        if (!in_array(basename($dir), $ignore_dirs)) {
          if ($host['project_folder'] == __DIR__ . '/' . $dir) {
            $dirs_host[$dir] = 'http://' . $host['server_name'];
          }
        }
      }
    }
    // Buscamos el host SSL para este directorio.
    if (!empty($yml['apache_vhosts_ssl'])) {
      foreach ($yml['apache_vhosts_ssl'] as $host) {
        if (!in_array(basename($dir), $ignore_dirs)) {
          if ($host['project_folder'] == __DIR__ . '/' . $dir) {
            $dirs_host_ssl[$dir] = 'https://' . $host['server_name'];
          }
        }
      }
    }
  }

  if (!empty($dirs)) { ?>
    <ul class="block-list">
      <?php
      foreach ($dirs as $dir) { ?>
        <li><h4>
            <?php
            if (!isset($dirs_host[$dir]) && !isset($dirs_host_ssl[$dir])) {
              print '<a href="./' . $dir . '" target="_blank"><i class="fa fa-check-square-o"></i>' . $dir . '</a>';
            }
            if (!empty($dirs_host[$dir])) {
              print '  <a href="' . $dirs_host[$dir] . '" target="_blank"><i class="fa fa-globe"></i>' . $dirs_host[$dir] . '</a>';
            }
            if (!empty($dirs_host_ssl[$dir])) {
              print '  <a href="' . $dirs_host_ssl[$dir] . '" target="_blank"><i class="fa fa-expeditedssl"></i>' . $dirs_host_ssl[$dir] . '</a>';
            }
            ?>
          </h4></li>
        <?php
      } ?>
    </ul>
    <?php
  }
}

/**
 * Show backups.
 */
function show_backups() {
  // Loop directory and get files to show.
  if (file_exists('./backups/')) {
    if ($handle = opendir('./backups/')) {
      while (false !== ($entry = readdir($handle))) {
        if ($entry != "." && $entry != "..") {
          $files[] = $entry;
        }
      }
      closedir($handle);
    }
  }
  if (!empty($files)) { ?>
    <div id="backups" class="backups">
      <h3><a href="#backups"><i class="fa fa-angle-right"></i>Backups</a></h3>
      <div class="block-content">
        <?php
        $prev_date = NULL;
        foreach ($files as $file) {
          $file_a = explode('.', $file, 2);
          $name = str_replace('.sql.gz', '', $file_a[1]);
          $date = str_replace('_', ' ', $file_a[0]);

          if ($date != $prev_date) {
            if (!empty($prev_date)) {
              echo '</table>';
            }
            $prev_date = $date; ?>
            <h4><?php print date('d.m.Y - H:i:s', strtotime($date)); ?></h4>
            <table>
            <tr>
              <th>BBDD</th>
              <th>Restaurar</th>
              <th>Descargar</th>
            </tr>
          <?php
          } ?>
          <tr>
            <td><?php print $name; ?></td>
            <td class="center"><a class="restore_backup" title="Restaurar" href="index.php?file=<?php print $file; ?>&db=<?php print $name;  ?>" target="_blank"><i class="fa fa-lg fa-cloud-upload"></i></a></td>
            <td class="center"><a href="./backups/' . $file . '" title="Descargar" target="_blank"><i class="fa fa-lg fa-cloud-download"></i></a></td>
          </tr>
        <?php
        } ?>
        </table>
      </div>
    </div>
  <?php
  }
}