Alias /stats /var/www/stats
<Directory "/var/www/stats/">
    Order allow,deny
    Allow from all
{% if apache_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
</Directory>