Alias /tools /var/www/tools
<Directory "/var/www/tools/">
    Order allow,deny
    Allow from all
{% if apache_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
</Directory>