#!/bin/bash

TIMESTAMP=$(date +"%Y%m%d_%H%M%S")
BACKUP_DIR="{{ mysql_backups_dir }}"
MYSQL_USER="root"
MYSQL=/usr/bin/mysql
MYSQLDUMP=/usr/bin/mysqldump

mkdir -p "$BACKUP_DIR"

databases=`$MYSQL --user=$MYSQL_USER -e "SHOW DATABASES;" | grep -Ev "(Database|information_schema|performance_schema|mysql)"`

for db in $databases; do
  $MYSQLDUMP --routines --force --opt --no-create-db --user=$MYSQL_USER $db | gzip > "$BACKUP_DIR/$TIMESTAMP.$db.sql.gz"
done

# Remove backups {{ mysql_backups_expiration_days }} days old.
find $BACKUP_DIR/* -mtime +{{ mysql_backups_expiration_days }} -exec rm {} \;