Alias {{ pimpmylog_alias_url }} {{ pimpmylog_install_path }}/vendor/potsky/pimp-my-log
<Directory "{{ pimpmylog_install_path }}/vendor/potsky/pimp-my-log/">
    Order allow,deny
    Allow from all
{% if apache_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
</Directory>